{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
          <th scope="col">Year</th>
          <th scope="col">Team</th>
          <th scope="col">Average Target Depth</th>
          <th scope="col">Air Yards Against</th>
          <th scope="col">Yards After Contact</th>
          <th scope="col">Blitzes</th>
          <th scope="col">QB Hurries</th>
          <th scope="col">Sacks</th>
          <th scope="col">Pressures</th>
          <th scope="col">Missed Tackles</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null],
      });
    });
  </script>
{% endblock %}