<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NFL Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        header {
            margin-bottom: 10px;
        }
        .navbar {
            border:5px solid #f0dc82;
            margin-bottom: 10px;
        }
        .btn-sample {
	        color: #424242;
            background-color: #8CB394;
            *background-color: #8CB394;
            background-image: -moz-linear-gradient(top, #E5FFE5, #8CB394);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5FFE5), to(#8CB394));
            background-image: -webkit-linear-gradient(top, #E5FFE5, #8CB394);
            background-image: -o-linear-gradient(top, #E5FFE5, #8CB394);
            background-image: linear-gradient(to bottom, #E5FFE5, #8CB394);
            background-repeat: repeat-x;
            transition: 0.5s;
            border-color: #0A0707;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5FFE5', endColorstr='#8CB394', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }
        .btn-sample:hover,
        .btn-sample:focus,
        .btn-sample:active,
        .btn-sample.active,
        .btn-sample.disabled,
        .btn-sample[disabled] {
            color: #FFFFFF;
            background-color: #611BBD;
            *background-color: #003bb3;
        }
        .card {
            width: 18vh;
            background-color: #e3dac9;
            border: 2px solid #1f604b;
        }
        .card-img-top {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        body {
            background: #fffff0;
        }
        .card-group {
            margin-bottom: 10px;
            margin-left: 100px;
            width: 100vh;
            border-radius: .25rem .25rem 0 0;
        }
        .card-header-custom {
            border-radius: .25rem .25rem 0 0;
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            margin-left: 100px;
            background-color: #d2b48c;
            border: 2px solid #1f604b;
            border-bottom: 0;
        }
        .card-header-custom + .card-group > .card {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='holo_trident.ico') }}">
</head>

<header class="sticky-top align-items-center justify-content-center">
    <nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #006a4e">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="max-height: 120px; max-width: 120px; margin-top: -7px" alt="" src="{{ url_for('static', filename='images/trident_reverse.png') }}">
            </a>
        </div>
        <a href="/data/" type="button" class="btn-sample btn-lg mr-1">NFL Teams</a>
        <a href="/teamO/" type="button" class="btn-sample btn-lg mr-1">Team Offense</a>
        <a href="/ints/" type="button" class="btn-sample btn-lg mr-1">Team Defense</a>
        <a href="/advd/" type="button" class="btn-sample btn-lg mr-1">Advanced Defense</a>
        <a href="/kick/" type="button" class="btn-sample btn-lg mr-1">Team Kicking</a>
    </nav>
</header>

<body>
<div class="container text-center" style="margin-bottom: 10vh">
<h5 class="card-header-custom" style="max-width: 72vh">NFC North</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/bears.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Chicago Bears</h5>
      </div>
      <div class="card-footer">
        <a href="/chi/" class="btn-sample btn-lg mr-1">CHI Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/lions.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Detroit Lions</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Detroit_Lions') }}" class="btn-sample btn-lg mr-1">DET Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/packers.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Green Bay Packers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Green_Bay_Packers') }}" class="btn-sample btn-lg mr-1">GB Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh;">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/vikings.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Minnesota Vikings</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Minnesota_Vikings') }}" class="btn-sample btn-lg mr-1">MIN Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">NFC East</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/cowboys.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Dallas Cowboys</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Dallas_Cowboys') }}" class="btn-sample btn-lg mr-1">DAL Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/giants.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">New York Giants</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='New_York_Giants') }}" class="btn-sample btn-lg mr-1">NYG Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/eagles.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Philadelphia Eagles</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Philadelphia_Eagles') }}" class="btn-sample btn-lg mr-1">PHI Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/dc.svg') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Washington Commanders</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Washington') }}" class="btn-sample btn-lg mr-1">WAS Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">NFC South</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/falcons.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Atlanta Falcons</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Atlanta_Falcons') }}" class="btn-sample btn-lg mr-1">ATL Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/panthers.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Carolina Panthers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Carolina_Panthers') }}" class="btn-sample btn-lg mr-1">CAR Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/saints.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">New Orleans Saints</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='New_Orleans_Saints') }}" class="btn-sample btn-lg mr-1">NO Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/bucs.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Tampa Bay Buccaneers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Tampa_Bay_Buccaneers') }}" class="btn-sample btn-lg mr-1">TB Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">NFC West</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/cards.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Arizona Cardinal</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Arizona_Cardinals') }}" class="btn-sample btn-lg mr-1">ARI Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/rams.svg') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Los Angeles Rams</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Rams') }}" class="btn-sample btn-lg mr-1">LAR Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/9ers.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">San Francisco 49ers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='San_Francisco_49ers') }}" class="btn-sample btn-lg mr-1">SF Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/seahawks.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Seattle Seahawks</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Seattle_Seahawks') }}" class="btn-sample btn-lg mr-1">SEA Page</a>
      </div>
    </div>
</div>
</div>



<div class="container text-center" style="margin-bottom: 20px">
<h5 class="card-header-custom" style="max-width: 72vh">AFC North</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/ravens.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Balitmore Ravens</h5>
      </div>
    <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Baltimore_Ravens') }}" class="btn-sample btn-lg mr-1">BAL Page</a>
    </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/bengals.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Cincinnati Bengals</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Cincinnati_Bengals') }}" class="btn-sample btn-lg mr-1">CIN Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/browns.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Cleveland Browns</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Cleveland_Browns') }}" class="btn-sample btn-lg mr-1">CLE Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh;">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/steelers.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Pittsburgh Steelers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Pittsburgh_Steelers') }}" class="btn-sample btn-lg mr-1">PIT Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">AFC East</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/bills.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Buffalo Bills</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Buffalo_Bills') }}" class="btn-sample btn-lg mr-1">BUF Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/fins.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Miami Dolphins</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Miami_Dolphins') }}" class="btn-sample btn-lg mr-1">MIA Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/pats.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">New England Patriots</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='New_England_Patriots') }}" class="btn-sample btn-lg mr-1">NE Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/jets.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">New York Jets</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='New_York_Jets') }}" class="btn-sample btn-lg mr-1">NYJ Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">AFC South</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/texans.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Houston Texans</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Houston_Texans') }}" class="btn-sample btn-lg mr-1">HOU Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/colts.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Indianapolis Colts</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Indianapolis_Colts') }}" class="btn-sample btn-lg mr-1">IND Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/jags.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Jacksonville Jaguars</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Jacksonville_Jaguars') }}" class="btn-sample btn-lg mr-1">JAX Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/titans.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Tennessee Titans</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Tennessee_Titans') }}" class="btn-sample btn-lg mr-1">TEN Page</a>
      </div>
    </div>
</div>


<h5 class="card-header-custom" style="max-width: 72vh">AFC West</h5>
<div class="card-group">
    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/broncos.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Denver Broncos</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Denver_Broncos') }}" class="btn-sample btn-lg mr-1">DEN Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/chiefs.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Kansas City Chiefs</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Kansas_City_Chiefs') }}" class="btn-sample btn-lg mr-1">KC Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/chargers.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Los Angeles Chargers</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Chargers') }}" class="btn-sample btn-lg mr-1">LAC Page</a>
      </div>
    </div>

    <div class="card text-center" style="max-width: 18vh">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ url_for('static', filename='images/raiders.png') }}" class="card-img-top img-fluid rounded-start embed-responsive-item" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Las Vegas Raiders</h5>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('teampage', team_id='Raiders') }}" class="btn-sample btn-lg mr-1">LV Page</a>
      </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>